{% load static %}
<header>
    <nav class="navbar navbar-expand-lg navbar-light ">
        <div class="container">
            <a href="{% url 'index' %}" class="logo">
                <img src="{% static 'images/logo.jpg' %}" alt="Bichem Laboratories">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link text-light" href="{% url 'index' %}">Home</a></li>
                    <li class="nav-item"><a class="nav-link text-light" href="{% url 'about' %}">About</a></li>
                    <li class="nav-item"><a class="nav-link text-info" href="{% url 'medicines' %}">Products</a></li>
                    <li class="nav-item"><a class="nav-link text-light" href="{% url 'diseases' %}">Diseases</a></li>
                    <li class="nav-item"><a class="nav-link text-light" href="{% url 'testimonials' %}">Bichem Innovations</a></li>
                    <li class="nav-item"><a class="nav-link text-light" href="{% url 'contact' %}">Contact: &nbsp; <span style="font-weight: 400;"><i class="fas fa-phone"></i>+91 8083748742 </span></a></li>
                </ul>
            </div>
        </div>
    </nav>

</header>

<script>
    document.addEventListener("DOMContentLoaded", function () {
    let links = document.querySelectorAll(".nav-link");
    let currentUrl = window.location.href;
    
    links.forEach(link => {
        if (link.href === currentUrl) {
            link.classList.add("active");
        }
    });
});

</script>